/*
 * added 07.02.2011
 *
 *
 *
 *
 */

@import "global_reset.css";


/*** color / font sizes ***/
body {
	font-family:Verdana, sans-serif;
	background-color: dodgerblue;
	color:white;
}

h1 {
	font-size:1.5em;
	font-family:Verdana, sans-serif;
}

a:link, a:visited, a:active {
	color: yellow;
	text-decoration: underlined;
}

a:hover {
	color:white;
	text-decoration:none;
}

/* Search */
#search 
{
background-color: black;
position: absolute;
top: 3%;
left: 15%;
height: 3%;
}

#search table
{
width: 300px;
}

#login
{
top: 10%;
left: 20%;
position: absolute;
background-color: black;
height: 35%;
width: 33%;
}

#register
{
top: 10%;
right: 10%;
position: absolute;
background-color: green;
height: 35%;
width: 33%;
}

/* Promo */
#promo
{
	/* background-color: dodgerblue; */
	position:absolute;
	top: 40%;
	left: 4px;
	padding-top: 8px;
	padding-bottom: 4px;
	width: 3%;
	height: 21%;
}

#promo td 
{
	vertical-align: middle;
	background-color:green;
	width: 100px;
	height: 55px;
	/* curved */
	-moz-border-radius: 0px 20px 20px 0px;
	-webkit-border-radius: 0px 20px 20px 0px;
	border-radius: 0px 20px 20px 0px;
}

/*** footer ***/
#footer
{

}



