/*
 * added 07.02.2011
 *
 *
 *
 *
 */

@import "global_reset.css";


/*** color / font sizes ***/
body {
	font-family:Verdana, sans-serif;
	background-color:#BD0000;
	color:white;
}

h1 {
	font-size:1.5em;
	font-family:Verdana, sans-serif;
}

a:link, a:visited, a:active {
	color:white;
	text-decoration:underlined;
}

a:hover {
	color:white;
	text-decoration:none;
}


/*** layout ***/

		#main {
			position: relative;
			margin-top: 10%;
			width: 800px;
			/* 62golden rule */
			right: 0%;
			left: 15%;
			/* border: 1px solid #dedbd1; */
			margin-bottom: 15px;
			color: black;
		}
		
		#map {
			vertical-align:middle;
			text-align:center;
			width:300px;
			height:300px;
		}
		#ort{
		height: 45px;
		text-align: center;
		}
		
		 
		#buttons td {
		width: 150px;
		height: 100%;
		background-color: blue;
		}


/* TABS  start */

.clear{  
    clear: both;  
    height: 0;  
    visibility: hidden;  
    display: block;  
}

/* Menu Tab */  
#container{  
    margin: 7em auto;
    width: 700px;  
}  
#container ul{  
    list-style: none;  
    list-style-position: outside;  
}  
#container ul.menu li{  
    float: left;  
    margin-right: 5px;  
    margin-bottom: -1px;  
}  
#container ul.menu li{  
    font-weight: 700;  
    display: block;  
    padding: 5px 10px 5px 10px;  
    background: #efefef;  
    margin-bottom: -1px;  
    border: 1px solid #d0ccc9;  
    border-width: 1px 1px 1px 1px;  
    position: relative;  
    color: #898989;  
    cursor: pointer;  
}

#container ul.menu li.active{
		padding: 6px 10px px 10px;  
    background: #fff;  
    top: 1px;  
    border-bottom: -1; 
		border-bottom-width: 0px;
    color: dodgerblue;  
}

/* /menu */  

/* Content */  

.content{  
    margin: 0pt auto;  
    background: #efefef;  
    background: #fff;
    border-right: 1px solid #d0ccc9;
    border-left: 1px solid #d0ccc9;  
    border-bottom: 1px solid #d0ccc9;  
    text-align: left;  
    padding: 10px;  
    padding-bottom: 20px;  
    font-size: 11px;  
} 

/* /Content */

/* Tab Content */
.content.new{  
    display: block;  
}
.content.browse{  
    display: none;  
}
.content.ranking{  
    display: none;  
}
.content.moderator{  
    display: none;  
}
.content.usrcntrl{  
    display: none;  
}  
.content.kebapowner{  
    display: none;  
} 

/***** TABS end ******/

/*
#drminfo {
	position: relative;
	background-color: blue;
	width: 600px;
	height: 300px;
	margin-left: 575px;
	margin-top: -55px;
}*/

/* Login */
#login {
	background-color:green;
	position:absolute;
	top: 2px;
	right: 4px;
	padding-top: 8px;
	padding-bottom: 4px;
	padding-left: 2%;
	width: 35%;
	height: 3%;
	
	/* curved */
	-moz-border-radius: 0px 0px 20px 20px;
	-webkit-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
}

/* Search */
#search {
	/* background-color: green; */
	position: absolute;
	top: 3%;
	left: 10%;
	
	}

#search table	{
	width: 300px;
	}


/* Promo */
#promo {
	/* background-color: dodgerblue; */
	position:absolute;
	top: 40%;
	left: 4px;
	padding-top: 8px;
	padding-bottom: 4px;
	width: 3%;
	height: 21%;
}
#promo td {
	vertical-align: middle;
	background-color:green;
	width: 100px;
	height: 55px;
	/* curved */
	-moz-border-radius: 0px 20px 20px 0px;
	-webkit-border-radius: 0px 20px 20px 0px;
	border-radius: 0px 20px 20px 0px;
}

/*** footer ***/
#footer
{
	background-color: dodgerblue;
	width: 75%;
	height: 30px;
	margin: 250px auto auto auto;
	padding-top: 12px;
	
	font-size: 14px;
	text-align: center;

	-moz-border-radius: 0px 0px 15px 15px;
	-webkit-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;
	}



