/*
 * added 07.02.2011
 *
 *
 *
 *
 */

@import "global_reset.css";


/*** color / font sizes ***/
body {
	font-family:Verdana, sans-serif;
	background-color:#BD0000;
	color:white;
}

h1 {
	font-size:1.5em;
	font-family:Verdana, sans-serif;
}

a:link, a:visited, a:active {
	color:white;
	text-decoration:underlined;
}

a:hover {
	color:white;
	text-decoration:none;
}


/*** layout ***/

		.widget {
			position: relative;
			background-color: grey;
			margin-top: 10%;
			width: 750px;
			/* 62golden rule */
			right: 0%;
			left: 15%;
			background: #f3f1eb;
			/* border: 1px solid #dedbd1; */
			margin-bottom: 15px;
			color: black;
		}
		
		#map {
			vertical-align:middle;
			text-align:center;
			width:300px;
			height:300px;
		}
		#ort{
		height: 45px;
		text-align: center;
		}
		
		 
		#buttons td {
		width: 150px;
		height: 100%;
		background-color: blue;
		}

/* Stand Tab start */

/* TABS  start */

	.tabnav li {
	display: inline;
	list-style: none;
	padding-right: 5px;
	}
	
		.tabnav li a {
		text-decoration: none;
		text-transform: uppercase;
		color: #222;
		font-weight: bold;
		padding: 4px 6px;
		outline: none;
		}
		
.tabnav li a:active, .tabnav li a:hover, .tabnav li.ui-tabs-selected a {
		background: dodgerblue;
		color: #222;
		text-decoration: none;
		}


	.tabdiv {
	margin-top: 5px;
	background: #fff;
	border: 2px solid #dedbd1;
	padding: 5px;
	}
	

/* Important! for hiding the other sites */
.ui-tabs-hide {
		display: none;
		}


	/* Tab sites start */


	/* Tab sites stop */

/* TABS end */



/* User Control */
#usrcntrl {
	background-color: purple;
	position: relative;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 2%;
	padding-right: 2%;
	width: 18%;
	
	/* curved */
	-moz-border-radius: 0px 0px 20px 20px;
	-webkit-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
}

/*
#drminfo {
	position: relative;
	background-color: blue;
	width: 600px;
	height: 300px;
	margin-left: 575px;
	margin-top: -55px;
}*/

/* Login */
#login {
	background-color:green;
	position:absolute;
	top: 2px;
	right: 4px;
	padding-top: 8px;
	padding-bottom: 4px;
	padding-left: 2%;
	width: 35%;
	height: 3%;
	
	/* curved */
	-moz-border-radius: 0px 0px 20px 20px;
	-webkit-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
}

/* Search */
#search {
	/* background-color: green; */
	position: absolute;
	top: 3%;
	left: 10%;
	
	}

#search table	{
	width: 300px;
	}


/* Promo */
#promo {
	/* background-color: dodgerblue; */
	position:absolute;
	top: 40%;
	left: 4px;
	padding-top: 8px;
	padding-bottom: 4px;
	width: 3%;
	height: 21%;
}
#promo td {
	vertical-align: middle;
	background-color:green;
	width: 100px;
	height: 55px;
	/* curved */
	-moz-border-radius: 0px 20px 20px 0px;
	-webkit-border-radius: 0px 20px 20px 0px;
	border-radius: 0px 20px 20px 0px;
}

/*** footer ***/
#footer
{
	background-color: dodgerblue;
	width: 75%;
	height: 30px;
	margin: 250px auto auto auto;
	padding-top: 12px;
	
	font-size: 14px;
	text-align: center;

	-moz-border-radius: 0px 0px 15px 15px;
	-webkit-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;
	}



