/*
 * added 07.02.2011
 *
 *
 *
 *
 */

@import "global_reset.css";


/*** color / font sizes ***/
body {
	font-family:Verdana, sans-serif;
	background-color:#BD0000;
	color:white;
}

h1 {
	font-size:1.5em;
	font-family:Verdana, sans-serif;
}

a:link, a:visited, a:active {
	color:white;
	text-decoration:underlined;
}

a:hover {
	color:white;
	text-decoration:none;
}


/*** layout ***/
		#stand {
			position:relative;
			/*background-color:red;*/
			margin-top: 10%;
			width:650px;
			height:300px;
			left:38%; /* 62golden rule */
			right:62%;
		}

		#stand table{
			height:100%;
			width:100%;
		}

		#stand table tr td {
			border:1px solid black;
			vertical-align:middle;
		}

		#map {
			vertical-align:middle;
			text-align:center;
			width:300px;
			height:300px;
		}

		#buttons td{
			text-align:left;
			vertical-align:bottom;
			height:40px;
			width:33%;
		}








/*
#drminfo {
	position: relative;
	background-color: blue;
	width: 600px;
	height: 300px;
	margin-left: 575px;
	margin-top: -55px;
}*/

#login {
	background-color:green;
	position:absolute;
	top:2px;
	right:4px;
	padding-top: 8px;
	padding-bottom: 4px;
	padding-left: 2%;
	width: 35%;
	height: 3%;
	
	/* curved */
	-moz-border-radius: 0px 0px 20px 20px;
	-webkit-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
}


#promo {
	/* background-color: dodgerblue; */
	position:absolute;
	top: 40%;
	left: 4px;
	padding-top: 8px;
	padding-bottom: 4px;
	width: 3%;
	height: 21%;
}
#promo td {
	vertical-align: middle;
	background-color:green;
	width: 100px;
	height: 55px;
	/* curved */
	-moz-border-radius: 0px 20px 20px 0px;
	-webkit-border-radius: 0px 20px 20px 0px;
	border-radius: 0px 20px 20px 0px;
}

/*** footer ***/
#footer
{
	width: 75%;
	height: 30px;
	margin: 50px 100px auto auto;
	padding-top: 12px;
	background-color: red;

	font-size: 14px;
	text-align: center;

	-moz-border-radius: 0px 0px 15px 15px;
	-webkit-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;
	}

