
/* Login */
/* Toggle closed */
a.tlogino-tloginc
{
width: 250px;
height: 25px;
margin:0px;
text-align:center;  
background:#FF9933;  
font-size:14px;  
font-weight:700;  
text-transform:uppercase;  
display:block;  
color:#fff;  
text-decoration:none;  
}  

a.tlogino-tloginc:hover 
{  
background:#FF0000;  
}  

/* Displays when toggle is open */
#tlogin 
{ 
width: 250px;  
margin:0px;  
background: black;  
color: white;  
line-height:23px;
} 


/* Registration */
/* Toggle closed */
a.trego-tregc
{
width: 250px;
height: 25px;
margin:0px;
text-align:center;  
background:#FF9933;  
font-size:14px;  
font-weight:700;  
text-transform:uppercase;  
display:block;  
color:#fff;  
text-decoration:none;  
}  

a.trego-tregc:hover {  
background:#FF0000;  
}  

/* Displays when toggle is open */
#treg
{  
width: 250px;  
margin:0px;
background: black;  
color: white;  
line-height:23px;  
} 