
/* Login */
/* Toggle closed */
a.tlogino-tloginc
{
position: absolute;
top: 90px;
right: 65px;
width: 250px;
height: 25px;
text-align: center;
padding-top: 5px;
background: #2f4f4f;  
font-size: 16px;  
font-weight: 700;  
text-transform: uppercase;  
display: block;  
color: #fff;  
text-decoration: none;  
}  

a.tlogino-tloginc:hover 
{  
background: dodgerblue;  
}  

/* Displays when toggle is open */
#tlogin 
{
position: absolute;
top: 130px;
right: 65px;
width: 250px;
height: 250px;
margin:0px;
background: grey;  
color: white;  
line-height: 20px;
} 


/* Registration */
/* Toggle closed */
a.trego-tregc
{
position: absolute;
right: 325px;
top: 90px;
width: 250px;
height: 25px;
padding-top: 5px;
text-align:center;  
background: #2f4f4f;  
font-size: 16px;  
font-weight:700;  
text-transform:uppercase;  
display:block;  
color:#fff;  
text-decoration:none;  
}  

a.trego-tregc:hover {  
background: dodgerblue;  
}  

/* Displays when toggle is open */
#treg
{
position: absolute;
top: 130px;
right: 325px;
width: 250px; 
height: 250px;
margin: 0px;
background: grey;  
color: white;  
line-height: 20px;  
} 
