
/* Login */
a.tlogino-tloginc
{
margin:0px;  
padding:15px;  
text-align:center;  
background:#FF9933;  
font-size:14px;  
font-weight:700;  
text-transform:uppercase;  
display:block;  
color:#fff;  
text-decoration:none;  
}  

a.tlogino-tloginc:hover {  
background:#FF0000;  
}  

#tlogin 
{  
width:460px;  
margin:0px;  
background: black;  
padding:20px;  
color: white;  
line-height:23px;  
} 


/* Registration */

a.trego-tregc
{
margin:0px;  
padding:15px;  
text-align:center;  
background:#FF9933;  
font-size:14px;  
font-weight:700;  
text-transform:uppercase;  
display:block;  
color:#fff;  
text-decoration:none;  
}  

a.trego-tregc:hover {  
background:#FF0000;  
}  

#treg
{  
width:460px;  
margin:0px;  
background: black;  
padding:20px;  
color: white;  
line-height:23px;  
} 